name: Lint & Deploy Workflow

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.1.1
        with:
          node-version: 14.x

      - name: Install our deps
        run: npm install

      - name: Run Lint Script
        run: npm run eslint
  deploy:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: actions-demo-dwg
          heroku_email: dgross@instructors.2u.com
